<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
<main>
  <div class="login-wrapper">
    <a href="/" class="login-musha-logo">
      <img src="/images/logo_musha.png" alt="musha" />
    </a>

    <div class="login-errors-wrapper">
      <% if(errors.length > 0) { %>
        <% errors.forEach((error) => { %>
          <p class="login-error"><%= error %></p><br>
        <% }); %>
      <% } %>
    </div>
  
    <form action="/login" method="post">
      <input type="text" name="login_username" placeholder="ユーザーネーム" class="login-input-userinfo"></input>
      <input type="password" name="login_password" placeholder="パスワード" class="login-input-password"></input><br/>
      <button type="submit" class="login-btn-login">ログイン</button>
      <p class="login-reccomend-login">アカウントを持っていない場合<span class="login-txt-login"><a href="/subscribe">登録はこちら</a></span></p>
    </form>
  </div>
</main>
<%- include("./set/footer") %>
</body>
</html>

