<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登録</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/mypage.css" />
</head>

<body>
<%- include("./set/header"); %>
<main class="mypage-whole-wrapper">
  <div class="mypage-usericon"><img src="/userIcon/user1.jpg"></div>
  <h1 class="mypage-username-title">ユーザー名</h1>
  <form action="/namechange" method="POST">
    <input type="text" name="username" class="mypage-input-username">
    <button type="submit" class="mypage-username-update-btn">更新する</button>
  </form>
  
  <!-- <h1>ファイルアップロード</h1>
  <form action="/mypage" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif">
      <button type="submit">送信</button> -->
  <!-- </form> -->
  <p>アカウントを削除する</p>
</main>
</body>

</html>