.article-detail-top-wrapper {
  background: linear-gradient(90deg, #5BF9D3 0%, rgba(255, 255, 255, 0) 100%), #62F856;
  padding-bottom: 30px;
}
.article-detail-head-wrapper {
  align-items: center;
  display: flex;
  font-size: var(--base-font-size);
  padding: 20px 0 0 10px;
}
.article-detail-head-username {
  color: white;
  margin-left: 10px;
}
.article-detail-head-like {
  color:rgb(255, 81, 197);
  margin-left: auto;
}
.article-detail-contributor-icon img{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.article-detail-title {
  color: var(--base-white);
  font-weight: 700;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
  text-shadow: 0px 3px 8px rgba(0,0,0,0.25);
}
.article-detaile-stock-btn-wrapper {
  text-align: center;
}
.article-detaile-stock-btn {
  background-color: var(--base-aqua);
  border: 1px solid var(--base-white);
  border-radius: 36px;
  color: var(--base-white);
  cursor: pointer;
  display: inline-block;
  font-size: var(--base-font-size);
  font-weight: 700;
  margin: 40px auto 0;
  padding: 7px 10px;
  transition: 0.2s;
}
.article-detaile-stock-btn:hover {
  background-color: var(--base-hover-aqua);
}
.article-detail-contents-wrapper {
  background-color: var(--base-gray-one);
  padding: 30px 10px;
}
.article-detail-contents-container {
  background-color: var(--base-white);
  border: 1px solid var(--base-gray-one);
  border-radius: 5px;
  /* box-shadow: 0px 3px 12px rgba(136, 136, 136, 0.25); */
  letter-spacing: 0.1em;
  line-height: 24px;
  padding: 15px 10px;
  word-break: break-all;
}
.article-detail-comments-title-wrapper {
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.article-detail-comments-title-wrapper div:first-child {
  margin-right: 10px;
}
.article-detail-comments-ico img {
  width: 20px;
}
.article-detail-comments-wrapper {
  padding: 0 20px;
}
.article-detail-comments-wrapper p {
  font-size: var(--base-font-size);
}
.article-detail-comments-wrapper hr {
  color: var(--border-gray);
  margin-top: 10px;
}
.article-detail-comments-title {
  background: linear-gradient(180deg, #5BF9D3 0%, rgba(255, 255, 255, 0) 100%), #62F856;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: 700;
}
.article-detail-comments-head {
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.article-detail-comments-head div {
  margin-right: 15px;
}
.article-detail-comments-head img {
  border-radius: 50%;
  width: 40px;
}
.article-detail-comments-comment {
  margin-top: 15px;
}
.article-detail-post-wrapper {
  padding: 0 20px;
}
.article-detail-comments-vote-title {
  background: linear-gradient(180deg, #5BF9D3 0%, rgba(255, 255, 255, 0) 100%), #62F856;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
}
.article-detail-input-commment {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  height: 150px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}
.article-detail-postcomment-btn{
  background-color: var(--base-green);
  border-radius: 5px;
  color: var(--base-white);
  display: block;
  margin: 15px auto 30px;
  padding: 10px 20px;
}
