@import url("/css/set/variable.css");

footer {
  font-size: 14px;
}
.footer-wrapper {
  background: var(--base-black);
  color: var(--base-white);
  padding: 15px 20px;
}
.footer-container {
  margin: 0 auto;
  max-width: 560px;
}
.footer-menu-wrapper {
  margin-right: auto;
}
.footer-menu-wrapper p {
  margin-top: 10px;
}
.footer-wrapper small {
  font-size: 14px;
}
.footer-c small {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 24px;
  margin-top: 5px;
}
.footer-c span {
  display: block;
  font-size: 24px;
} 