@import url("/css/set/variable.css");

.header-wrapper {
  align-items: flex-end;
  background: var(--base-black);
  display: flex;
  font-size: var(--base-font-size);
  font-family: 'Roboto-Medium';
  height: 70px;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 560px;
  width: 100%;
}
.header-logo-musha img {
  height: 46px;
  width: 52px;
}
.header-ico-search {
  margin-left: 10px;
}
.header-ico-search img {
  width: 20px;
}
.header-signbtns-wrapper {
  display: flex;
  margin-left: auto;
}
.header-btn-subscribe {
  align-items: center;
  color: var(--base-white);
  cursor: pointer;
  display: flex;
  height: 26px;
  justify-content: center;
  margin: 0 15px 0 auto;
  transition: 0.2s;
  width: 72px;
}
.header-btn-subscribe:hover {
  background-color: var(--base-hover-aqua);
}
.header-btn-login {
  align-items: center;
  color: var(--base-white);
  cursor: pointer;
  display: flex;
  height: 26px;
  justify-content: center;
  transition: 0.2s;
  width: 72px;
}
.header-btn-login:hover {
  background-color: var(--base-hover-green);
}

/* ログイン後 */
.header-menu-list-wrapper {
  position: relative;
}
.header-user-ico-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: 5px;
}
.header-btn-menu-list:hover {
  color: var(--base-hover-aqua);
}
.header-user-ico-wrapper img {
  border: 1px solid var(--base-white);
  border-radius: 50%;
  height: 35px;
  object-fit: contain;
  width: 35px;
}
.header-btn-menu-list {
  color: var(--base-aqua);
  margin-left: 10px;
}
.header-menu-list-none {
  opacity: 0;
  pointer-events: none;
}
.header-menu-list {
  background: var(--base-white);
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  box-shadow: 1px 1px #c2c2c2;
  color: var(--base-hover-green);
  font-weight: 700;
  transition: 0.2s;
  padding: 5px 10px 15px;
  position: absolute;
  right: 0;
  top: 35px;
  transition: 0.2s;
  width: 100px;
  z-index: 1;
}
.header-menu-list li {
  display: inline-block;
  margin-top: 15px;
}
.header-menu-list li:hover {
  color: var(--base-hover-hover-green);
}

