@import url("set/variable.css");

.mypage-whole-wrapper {
  background-color: var(--base-gray-one);
  padding: 20px 10px;
}
.mypage-whole-container {
  background-attachment: fixed;
  background-blend-mode:lighten;
  background-color:rgba(255,255,255,0.8);
  background-image: url("../images/bg_mypage.png");
  background-position: center;
  background-size: cover;
  border: 1px solid var(--base-gray-one);
  border-radius: 5px;
  box-shadow: 0px 3px 12px rgba(136, 136, 136, 0.25);
  padding: 0 15px 30px;
  word-break: break-all;
}

/* ユーザーアイコン部分 */
.mypage-usericon-wrapper {
  margin-top: 100px;
  text-align: center;
}
.mypage-usericon-container {
  display: inline-block;
  text-align: center
}
.mypage-usericon-container img {
  border-radius: 50%;
  cursor: pointer;
  width: 100px;
}

.mypage-usericon-container button {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: var(--base-black);
  left: 50%;
  margin-top: 60px;
  opacity: 0;
  padding: 10px 15px;
  position: absolute;
  transform: translate(-50%);
}
.mypage-usericon-container p {
  font-size: 18px;
  font-weight: 700;
}
/* ユーザーネーム部分 */
.mypage-username-title {
  font-weight: 700;
  margin-top: 45px;
}
.mypage-input-username {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  padding: 0 10px;
  width: 100%;
}
.mypage-username-update-btn {
  background-color: var(--base-green);
  border-radius: 36px;
  color: var(--base-white);
  display: block;
  margin: 50px auto 0;
  padding: 6px 12px;
}

/* ストック部分 */
.mypage-article-list-title {
  font-weight: 700;
  margin-top: 45px;
}
.mypage-btn-delete-account {
  background-color: var(--base-pink);
  border-radius: 36px;
  color: var(--base-white);
  display: block;
  margin: 0 auto;
  padding: 6px 12px;
}
