<head>
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />
</head>

<footer class="footer-wrapper">
  <div class="footer-container">
    <div class="footer-menu-wrapper">
      <p>利用規約</p>
      <p>プライバシー</p>
      <p>ガイドライン</p>
      <p>広告掲載</p>
    </div>
    <p class="footer-c"><small><span>©︎</span>musha.inc</small></p>
  </div>
</footer>