:root {
  --base-black: #242424;
  --base-white: #ffffff;
  --base-green: #03f789;
  --base-hover-green: #01eb82;
  --base-aqua: #15f1d4;
  --base-hover-aqua: #11e4c8;
  --base-pink: #FF51C5;
  --base-gray-one: #fafafa;
  --base-gray-two: #ebebeb;
  --border-gray: #dadada;
  --base-side-space: 15px;
  --base-font-size: 14px;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../../fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'SmartFontUI';
  src: url('../../fonts/SmartFontUI/SmartFont-P.ttf');
}
